.card {
  transition: all 0.5s;
  &:hover {
    @apply bg-skin-base transform -translate-y-1;
    box-shadow: 0 8px 50px 0 rgba(44, 43, 88, 0.08);
    .register {
      @apply text-white bg-skin-highlight;
    }
  }
}

.register {
  transition: all 0.25s;
  @apply flex items-center px-4 py-2 border-2 border-skin-highlight text-skin-highlight self-start font-medium text-sm rounded-sm;
}
