@font-face {
  font-family: "Helvetica Neue LT W1G 55 Roman";
  font-style: normal;
  font-weight: normal;
  src: url("./HelveticaNeueLTW1GRoman.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT W1G 75 Bold";
  font-style: normal;
  font-weight: bold;
  src: url("./HelveticaNeueLTW1GBd.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT W1G 65 Medium";
  font-style: normal;
  font-weight: medium;
  src: url("./HelveticaNeueLTW1GMd.woff") format("woff");
}
