@use "../fonts/_fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0 box-border;
}

html {
  @apply w-screen overflow-x-hidden;
}
body {
  @apply w-screen min-h-screen font-base text-skin-base sm:mx-auto cursor-default overflow-x-hidden;
}
#__next {
  @apply min-h-screen flex flex-col;
}
input[type="range"] {
  @apply my-2 bg-skin-base border-none shadow-none;
  -webkit-appearennce: none;
  appearance: none;
  height: 2px;
  &::-webkit-slider-thumb {
    @apply w-4 h-4 rounded-full bg-skin-base;
    -webkit-appearance: none;
    appearance: none;
  }
}

.content-md {
  @apply max-w-content mx-4;
  width: calc(100% - theme("spacing.8"));
}

.content-sm {
  @apply max-w-content-small mx-4;
  width: calc(100% - theme("spacing.8"));
}
