@use "../fonts/_fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0 box-border;
}

html {
  @apply overflow-x-hidden;
}
body {
  @apply min-h-screen bg-skin-base font-base text-skin-base sm:mx-auto cursor-default overflow-x-hidden;
}
#__next {
  @apply min-h-screen flex flex-col;
}
input[type="range"] {
  @apply my-2 bg-skin-base border-none shadow-none;
  -webkit-appearennce: none;
  appearance: none;
  height: 2px;
  &::-webkit-slider-thumb {
    @apply w-4 h-4 rounded-full bg-skin-base;
    -webkit-appearance: none;
    appearance: none;
  }
}

.content-md {
  @apply max-w-content-md mx-4;
  width: calc(100% - theme("spacing.8"));
}

.content-sm {
  @apply max-w-content-sm mx-4;
  width: calc(100% - theme("spacing.8"));
}

.content-xs {
  @apply max-w-content-xs mx-4;
  width: calc(100% - theme("spacing.8"));
}

.max-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
